<h1>Ciudades</h1>

<div class="text-end my-2">
    <button type="button" class="btn btn-primary" [routerLink]="['crear']">Nueva Ciudad</button>
</div>

<table class="table">
    <thead>
      <tr>
        <th>Id</th>
        <th>Nomnbre</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of listOfCities">
        <td style="width: 50px;">{{ item.id }}</td>
        <td>{{ item.description | titlecase }}</td>
        <td style="width: 200px; text-align: right;">
            <button type="button" class="btn btn-warning mx-1" [routerLink]="['editar', item.id]">Editar</button>
            <button type="button" class="btn btn-danger" (click)="delete(item.id)">Eliminar</button>
        </td>
      </tr>
    </tbody>
  </table>